{% extends "bases/exames.html" %}
{% load static %}

{% block 'head' %}

{% endblock 'head' %}

{% block 'conteudo' %}
      <div class="container">
        <div class="page-inner">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Solicitar Exames</div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6 col-lg-8">

                      <div class="form-group">

                        <label for="exampleFormControlSelect2">Selecione os exames a serem solicitados</label>
                         
                               <div class="d-flex text-left align-items-center w-100">
                                <select class="form-select" id="multiple-checkboxes" multiple="multiple">
                                  <option value="php">PHP</option>
                                  <option value="javascript">JavaScript</option>
                                  <option value="java">Java</option>
                                  <option value="sql">SQL</option>
                                  <option value="jquery">Jquery</option>
                                  <option value=".net">.Net</option>
                                </select>
                              </div>        

                      </div>
                      
                    </div>
                      
                    
                    <div class="col-md-6 col-lg-4">
                      <label class="mb-3"><b>Orçamento</b></label>
                    
                                         
                    </div>
                  </div>
                </div>
                <div class="card-action">
                  <button class="btn btn-success">Adicionar Exames</button>
                  <button class="btn btn-danger">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>   
  </div>

{% endblock 'conteudo' %}

<br>
    <br>
    <div class="container">
        <div class="row">

            <div class="col-md">
                <h3 class="font-destaque">Solicitar exames</h3>
                
                <form action="{% url 'solicitar_exames' %}" method="POST">{% csrf_token %}
                    <label for="">Selecione os exames para realizar</label>
                    <select class="select form-control bg-select" multiple name="exames">
                       
                        {% for exame in tipos_exames %}
                            <option class="opt" value="{{exame.id}}">{{exame}}</option>
                        {% endfor %}
                        
                    </select>
                    <br>
                    <input  type="submit" class="btn-default tamanho-2"  name="ultimo_nome" value="Solicitar exames">
                </form>
            </div>

            <div class="col-md-2">

            </div>

            <div class="col-md card">
    
                {% for exame in solicitacao_exames %}
                    <div style="font-size: 20px; font-weight: bold">
                        {% if exame.disponivel %}
                            <img src="{% static 'exames/img/check.png' %}">
                        {% else %}
                            <img src="{% static 'exames/img/exit.png' %}">
                        {% endif %}
                        {{exame.nome}}
                        <span class="previa-preco">
                            {{exame.preco}}
                        </span>
                    </div>
                {% endfor %}
                   
                    
                    <hr style="color: white;">
                    <div>
                        <label>Total: </label><label class="previa-preco">R$ {{preco_total}}</label>
                    </div>
                    <br>

                    <h5>Data: 08 de Setembro</h5>
                    <br>

                    <form action="" method="POST">
                        <button class="btn-secundario">Fechar pedido</button>
                    </form>
                    
              

            </div>
        </div>
    </div>